body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}

/* LAYOUT CSS */
#layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
}

#list {
    margin-left: -350px;
    width:350px;
    border-right: 1px solid #ddd;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .email-label-personal,
    .email-label-work,
    .email-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .email-label-personal {
        background: #ffc94c;
    }
    .email-label-work {
        background: #41ccb4;
    }
    .email-label-travel {
        background: #40c365;
    }


/* List items */
.listentry {
    padding: 0.3em 0.5em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .listentry-title,
    .listentry-subtitle {
        margin: 0;
    }
    .listentry-subtitle {
        color: #999;
    }
    .listentry-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.listentry-selected {
    background: #eee;
}
.listentry-unread {
    border-left: 6px solid #02a3c6;
}

/* Content Styles */
.entry-content-header, .entry-content-body, .entry-content-footer {
    padding: 1em 2em;
}
    .entry-content-header {
        border-bottom: 1px solid #ddd;
    }

        .entry-content-title {
            margin: 0.5em 0 0;
        }
        .entry-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .entry-content-subtitle span {
                color: #999;
            }
    .entry-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .entry-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

